.jike-firefly-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    margin-right: 16px;
    visibility: hidden; /* 添加这一行 */
}

article:hover .jike-firefly-button {
    opacity: 1;
    visibility: visible; /* 添加这一行 */
}

.jike-firefly-button img {
    width: 18px;
    height: 18px;
    display: block;
}

.min-w-\[120px\].items-center.flex.cursor-pointer.hover\:text-web-icon-gray_hover {
    display: inline-flex;
    align-items: center;
}
